<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.tidb.lock.dao.TiDBCommonMapper">
    <select id="selectDbVersion" resultType="java.lang.String">
        select @@version
    </select>

    <select id="selectNow" resultType="java.lang.String">
        select now()
    </select>

    <select id="selectX" resultType="java.lang.String">
        select 'x'
    </select>

    <select id="selectAutocommit" resultType="java.lang.String">
        select @@autocommit
    </select>

    <!--    -->
    <select id="selectTiDBVersion" resultType="java.lang.String">
        select tidb_version()
    </select>

    <select id="selectTiDBTransactionIsolation" resultType="java.lang.String">
        select @@transaction_isolation
    </select>

    <update id="tiDBDisableAutoRetryOff">
        set @@tidb_disable_txn_auto_retry = off
    </update>

    <update id="tiDBDisableAutoRetryOn">
        set @@tidb_disable_txn_auto_retry = on
    </update>

    <select id="selectTiDBDisableAutoRetry" resultType="java.lang.String">
        select @@tidb_disable_txn_auto_retry
    </select>

    <update id="setTiDBDisableAutoRetry" parameterType="java.lang.String">
        set @@tidb_disable_txn_auto_retry = #{tidbDisableAutoRetry,jdbcType=VARCHAR}
    </update>

    <update id="enableTiDBAutoRetryTimes">
        set @@tidb_retry_limit=10
    </update>

    <select id="selectTiDBAutoRetryTimes" resultType="java.lang.String">
        select @@tidb_retry_limit
    </select>

    <update id="beginTidbPessimistic">
        BEGIN PESSIMISTIC
    </update>

    <update id="useTiDBTransactionModePessimistic">
        set @@tidb_txn_mode = pessimistic
    </update>
</mapper>